.row {
  display: unset !important;
}

.container {
  max-width: 720px !important;
}

.calculator-area {
  padding: 50px;
  max-width: 693px;
}

input,
select {
  width: 20px;
  margin: 10px !important;
}

select {
  width: 70px !important;
}

.submit-form {
  display: block;
  max-width: 557px;
}

.result {
  text-align: center;
  display: none;
}

.oper {
  display: flex;
}

